body{

    background:#f8f9fa;

}

.card{

    border-radius:15px;

}

.card-header{

    border-radius:15px 15px 0 0 !important;

}

.form-control,
.form-select{

    height:48px;

}

textarea.form-control{

    height:auto;

}

.btn{

    height:48px;

    font-size:18px;

}

a{

    text-decoration:none;

}